# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Build
dist/
build/
.temp/
.tempfiles/

# Ambiente
.env
.env.*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
log/

# Sistema
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MongoDB dump/output
dump/

# Arquivos temporários
*.swp
*.tmp

# Testes (caso use cobertura)
coverage/
.nyc_output/

# Frontend específico (React)
*.cache/
.eslintcache

# Backend específico
backend/uploads/
backend/tmp/

# Docker (se usar)
docker-compose.override.yml